@import-normalize;

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Varela Round', 'sans-serif';
  color: #444;
  background-color: #f6f6f6;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  font-style: inherit;
  color: inherit;
}
