$prymary-color: #374890;
$body-background-color: #f6f6f6;
$letterS-color: #697cb4;
$color-grey: #4d4d4e;
$h2-grey: #8d8d8d;
$navbar-background-color: #e0dcdd;
$h1-color: #1b1e25;
$color-white: #ffffff;

// --color-pink: #fce3e6;
// --color-pink-accent: #f38393;
// --color-light-blue: #bee8f4;
// --background-color-blue: #e9fefe;
// --color-blue: #697cb4;
// --color-blue-accent: #374890;
// --color-white: #ffffff;
// --color-grey: #f6f6f6;
// --color-dark-grey: #e0dcdd;
// --color-black: #1b1e25;

// $prymary-color: #ffd700;
// $body-background-color: #022c43;
// $letterS-color: #074f74;
// $color-grey: #4d4d4e;
// $h2-grey: #8d8d8d;
// $navbar-background-color: #181818;
// $h1-color: #ffffff;
